---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>

<hr>

<h2>Comments</h2>

<script src="https://giscus.app/client.js"
        data-repo="zapoteht/zapoteht.github.io"
        data-repo-id="R_kgDOUK9V0Q"
        data-category="General"
        data-category-id="DIC_kwDOUK9V0c4DEp-r"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>